@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-ff-mark-pro);
  --font-display: var(--font-tt-norms-pro);
  
  /* Paleta Cromática Personalizada */
  --color-white: #FFFFFF;
  --color-light-gray: #CFD6D8;
  --color-blue-gray: #B0BCBC;
  --color-medium-gray: #A6A49C;
  --color-dark-gray: #7E7E7E;
  --color-black: #000000;
}

body {
  font-family: var(--font-ff-mark-pro), system-ui, -apple-system, sans-serif;
}
